
.full_window{
    -fx-text-fill: #222222;
}


#waitLabel{
    -fx-font-size: 38px;
    -fx-alignment: top-center;

}
#waitBox{
    -fx-translate-y: 180px;
}

#firstPlayerChoiceBox{
    -fx-pref-height: 34;
    -fx-pref-width: 226;
}

#playerBox{
    -fx-alignment: top-center;
    -fx-pref-width: 299px;
    -fx-pref-height: 232px;
    -fx-spacing: 20;
}


#header{
    -fx-font-size: 40;
    -fx-font-weight: bolder;
    -fx-alignment: center;
}


#choosePlayerLabel{
    -fx-font-size: 18;
}

#chooseText{
    -fx-background-color: #e4dff3;
    -fx-text-fill: #222222;
    -fx-font-size: 18;
    -fx-font-weight: bolder;
    -fx-border-radius: 4px;
    -fx-pref-width: 180px;
    -fx-translate-y: 10px;
}

#cardsBox{
    -fx-padding: 32px 0px;
}

.card_image{
    -fx-smooth: true;
    /*
    -fx-fit-to-width: 168;
    -fx-fit-to-height: 282;
     */
    -fx-border-image: 30px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 6, 0, 0, 0);
}

.card_image:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 18, 0, 0, 0);
}
.card_image:selected{
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.5 ), 10, 0, 5, 5 ), dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
#cards{
    -fx-alignment: center;
}

.play_button{
    -fx-background-image: url("/textures/button-play-normal.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: #c8bfe7;
    -fx-border-width: 0px;
    /*-fx-border-color: #222222;*/
    -fx-background-size: 78.9px 96.6px;
    -fx-pref-height: 100;
    -fx-pref-width: 100;

}
.play_button:hover{
    -fx-background-color: #e4dff3;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 18, 0, 0, 0);
}

.play_button_white {
    -fx-background-color: white;
}