Label {
    -fx-font-family: Georgia, serif;
}

.full_window{
    -fx-text-fill: #222222;
}


#waitLabel{
    -fx-font-size: 42;
}

#header{
    -fx-font-size: 40;
    -fx-font-weight: bolder;
    -fx-alignment: center;
}


#choosePlayerLabel{
    -fx-font-size: 18;
}

#chooseText{
    -fx-background-color: #e4dff3;
    -fx-text-fill: #222222;
    -fx-font-size: 18;
    -fx-font-weight: bolder;
    -fx-border-radius: 4px;
    -fx-pref-width: 180px;
    -fx-translate-y: 10px;
}

.card_image{
    -fx-smooth: true;
    /*
    -fx-fit-to-width: 168;
    -fx-fit-to-height: 282;
     */
    -fx-border-image: 30px;
}

#cards{
    -fx-alignment: center;
}